# my address - will be inserted automatically
address = 'a628'

# which devices to use for capture and playback 'auto' means the default device
[devices]
playback = 'auto'
capture = 'auto'

# settings for the sound transfer - all settings below must be the same on all devices
[Protocol]
# size of FFT window
fftSize = 1024

# frequencies to use for the marker - can overlap with frequencies used to transmit data.
markerF1 = 15000
markerF2 = 17000

# The minimum strength of this audio device - everything below is clamped to this value
# It should be adjusted to the noise level of the environment
lowestStrength = -100

# Sensitivity of marker detection - lower means more broad, but there could be false positives
# If not detecting messages reliably, try decreasing this value
# If detecting messages in noise, try increasing this value
strengthThreshold = -75

# Message chunk size in frames
chunkSize = 256

[Modulation]

# Which technique to use - 'simple', '2tone', 'MFSK'
type = '2tone'
startFrequency = 1000
spacing = 5
bitsPerFrame = 4

# type = 'MFSK'
# startFrequency = 1000
# spacing = 3
# regionSize = 8
# numRegions = 4
